.App {
  display: flex;
}

.main-content {
  padding: 20px;
  background-color: #f8f9fa; /* Light background color */
  min-height: 100vh;
  margin: auto;
}

/* Additional styling for better appearance */
.sidebar .nav-link {
  font-size: 1.1em; /* Increase font size */
  font-weight: bold; /* Make text bold */
}

.sidebar .nav-link.active {
  background-color: #007bff; /* Active link background color */
  color: #fff; /* Active link text color */
}
