.sidebar {
    height: 115vh;
    position: sticky;
    top: 0;
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Text color */
    padding-top: 20px;
    transition: width 0.3s; /* Smooth transition for expanding/collapsing */
}

.sidebar-styling {
    padding-left: 21px;
    margin-top: 143px;
}

.sidebar .nav-link {
    color: #fff; /* Text color for links */
    padding: 10px 20px; /* Padding for links */
    border-radius: 0; /* Remove border-radius */
    transition: background-color 0.3s ease; /* Smooth transition */
}


.sidebar .nav-link:hover {
    background-color: #495057; /* Darker background on hover */
    color: #fff; /* Text color on hover */
}

.sidebar .nav-item {
    margin-bottom: 5px; /* Margin between menu items */
}
/*===new css===*/


